<div class="container-fluid">

	<div role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" ng-repeat="tab in tabs" ng-click="selectTab($index)" ng-class="{'active':selectedTab == $index}">
				<a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">{{tab.title}} <!-- <span ng-click="deleteTab($index)" class="glyphicon glyphicon-remove"></span> !--> </a>
			</li>
			<li role="presentation" ng-click="addTab()">
				<a aria-controls="home" role="tab" data-toggle="tab">( + )</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tab">
				<!--	<h1>Tab {{tabs[selectedTab].id}}</h1>
				<h3>Content:- {{tabs[selectedTab].content}}</h3>
				!-->
				<br>

				<div class="row">
					<div class="col-lg-12">


						<div class="input-group">
							<input type="text" class="form-control">
							<span class="input-group-btn">
						
                        <button class="btn btn-primary" type="button">Share!</button>
   					    </span>
						</div>









					</div>
				</div>


				<br>
				<br>

				<div class="input-group pull-right">
					<a ui-sref="#"><i class="fa fa-cog" aria-hidden="true"></i></i> Setting</a>
				</div>

				<div class="divider"></div>


				<div class="row">
					<div class="col-lg-12" ng-repeat="user in userInformation">
						<div class="col-lg-2">
							<img width="100" style="border-radius: 5px;" ng-src="{{user.userPics}}"></img>
						</div>
						<div class="col-lg-10">
							<span><b style="color:blue">{{user.name}} </b> {{user.description}} </span>
							<br> {{user.sendTime}} <a href="#" ng-click="">Comment</a> <a href="#"> Like </a> <a href="#"> See Wall-to-Wall </a>

						</div>
						<div class="col-md-6">
							<textarea cols="15" rows="5" class="form-control"></textarea>
						</div>
					</div>
				</div>









			</div>
		</div>
	</div>


</div>