<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CASE STUDY</a>
            </div>
            <ul class="nav navbar-nav">
               
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Page1</a>
            </li>
               
            <li>
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Page2</a>
            </li>
               
            <li>
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Page3</a>
            </li>
            </ul>
        </div>
    </nav>


</div>