<div id="wrapper">


    <div>
        <nav class="navbar navbar-inverse" style="border-radius:0px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="dashboard.home">CASE STUDY</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a ui-sref="dashboard.case1"><i class="fa fa-adjust fa-fw"></i>CASE STUDY 1</a>
                       <li><a ui-sref="dashboard.case2"><i class="fa fa-adjust fa-fw"></i>CASE STUDY 2</a>
                       <li><a ui-sref="dashboard.case3"><i class="fa fa-adjust fa-fw"></i>CASE STUDY 1</a>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="page-wrapper" style="min-height: 561px;">
        <div ui-view></div>
    </div>
</div>