.nav-tabs > li > a{
	cursor:pointer;
}

.nav-tabs li a span:hover {
    color: red;
	cursor:pointer;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.infoStyle{
  width: auto;
  height:450px;
  background: rgb(234, 234, 234)

}

.errspan {
      float: left;
    margin-left: 9px;
    margin-top: -31px;
    position: relative;
    z-index: 2;
    
}

.search-cont {
    background-color: #c8c7cc;
    width:100%;
    height:44px;
    overflow:hidden;
    transition: all 0.5s;
    z-index:997;
    position:fixed;
}

.search-text {
    border-radius:5px;
    border:0px;
    height:28px;
    padding:0px;
    padding-left:6px;
    width: 100% !important;
	  margin: 8px !important;
    box-sizing:border-box;
    display:block;
    background-color:#fff;
}

input{
  text-indent: 18px;
}