.nav-tabs > li > a{
	cursor:pointer;
}

.nav-tabs li a span:hover {
    color: red;
	cursor:pointer;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.infoStyle{
  width: auto;
  height:450px;
  background: rgb(234, 234, 234)

}